@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 200%;
  }
}

body {
  background-color: #f9f4f4;
  background-image: url("/BGballs.png");
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  animation: moveBackground 5s linear infinite;
  background-repeat: repeat;
  /* background-size: cover; */
  /* background-origin: content-box; */
}

.navbar {
  height: 15%;
}

.content {
  height: 85%;

  justify-content: space-between;
  /* overflow-y: auto; */
}
.elover {
  height: 85%;
  width: 90%;
  overflow-y: auto;
}
.botonesiguientes {
  width: 5%;
}

.BodyHome1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.HeaderHome1 {
  width: 100vh;
  height: 10%;
  z-index: 2;
  inline-size: max-content;
  position: fixed;
}
.FooterHome1 {
  position: fixed;
  transform: translateY(900%);
  height: 10%;
  width: 100vh;
  align-content: end;
  z-index: 2;
  inline-size: max-content;
}
.Littlebody1 {
  height: 80%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.botonfixeado {
  transform: translate(10px, 78vh);
}
.botonbackfixeado {
  transform: translate(15vh, 18vh);
}

.heighinherit {
  height: inherit;
  gap: 0;
}

.todonegro {
  background-color: #333333;
  color: white;
}

@media only screen and (max-width: 880px) and (max-height: 1020px) {
  .lalinea > div > div:nth-of-type(2) {
    width: 100%;
    /* Tus estilos aquí */
  }
  .lalinea > div:nth-of-type(1) {
    flex-direction: column;
    justify-content: center;
    /* Tus estilos aquí */
  }
  .lalinea div .infopkmn {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: x-large;
    height: 30%;
  }
  .eldisplayON img {
    height: auto;
  }
  .infopkmn .estono {
    display: none;
  }
  .eldisplayON {
    width: auto;
  }
  .heighinherit {
    gap: 1.5rem;
  }
  .FooterHome1 {
    position: inherit;
    transform: none;
  }
  .heighinherit .Unidadpkmn {
    height: 1rem;
  }
}

@media only screen and (min-width: 1366px) and (min-height: 768px) {
  /* styles for browsers larger than 960px; */
  .lalinea {
    height: inherit;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      114deg,
      rgba(255, 255, 255, 0) 46%,
      rgba(239, 90, 63, 1) 46%,
      rgba(239, 90, 63, 1) 51%,
      rgba(249, 116, 72, 1) 51%,
      rgba(249, 116, 72, 1) 100%
    );
    .botonbackfixeado {
      transform: translate(10px, 18vh);
    }
    .eldisplay {
      display: flex;
    }
    .unidadpkmnLAPTOP {
      width: 50%;
    }
    .laptopmode {
      width: 1.5rem;
      height: 1.5rem;
    }
    .right-16 {
      right: 7rem;
      top: 0rem;
    }
    .infopkmn {
      width: 50%;
      height: 50%;
      padding-left: 12rem;
      padding-right: 12rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .size-6 {
      width: 1.5rem;
      height: 1.5rem;
    }
    .heighinherit {
      gap: 0;
    }
  }
}
.right-16 {
  right: 14rem;
  top: -4rem;
}
.laptopmode {
  width: 2.5rem;
  height: 2.5rem;
}
.lalinea2 {
  height: inherit;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    114deg,
    rgba(255, 255, 255, 0) 46%,
    rgba(239, 90, 63, 1) 46%,
    rgba(239, 90, 63, 1) 51%,
    rgba(249, 116, 72, 1) 51%,
    rgba(249, 116, 72, 1) 100%
  );
}
.unidadpkmnLAPTOP {
  display: flex;
  width: 63%;
}
.lalinea {
  height: inherit;
}
.eldisplay {
  display: none;
}
.eldisplayON {
  display: flex;
}
.Unidadpkmn {
  height: 2.5rem;
  background: (249, 116, 72, 1);
  color: black;
  transition: all 0.2s ease-in-out;
}
.Unidadpkmn div img {
  height: 3rem;
}
.infopkmn {
  width: 50%;
  height: 50%;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.size-6 {
  width: 2.5rem;
  height: 2.5rem;
}

.Unidadpkmn:hover {
  background: rgb(239, 90, 63);
  background: linear-gradient(
    142deg,
    rgba(239, 90, 63, 1) 46%,
    rgba(0, 0, 0, 1) 46%
  );
  color: white;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.295);
  opacity: 1;
}

/* NUEVO DISENO DESDE ACA PROTOTIPE */

.lineamedio {
}
.lalinea3 {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    114deg,
    rgba(255, 255, 255, 0) 46%,
    rgba(239, 90, 63, 1) 46%,
    rgba(239, 90, 63, 1) 51%,
    rgba(249, 116, 72, 1) 51%,
    rgba(249, 116, 72, 1) 100%
  );
}
.contentIZQ {
  display: block;
}
.generationmenu {
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(3,33%);
  grid-template-columns: repeat(auto-fit, minmax(100px, 30%));
  justify-content: center;
}

.botongen {
  justify-self: center;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 880px) and (max-height: 1020px) {
  .contentIZQ {
    display: none;
  }
  .contentDER {
    width: 90%;
  }
  .lineamedio {
    justify-content: center;
  }
  .lalinea3 {
    height: 100%;
    overflow: hidden;
    background: none;
  }
  .botongen {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
